body {
  font-family: $main-font;
}

.container {
  flex-grow: 1;
  width: 100%;
  max-width: none;
  margin: 0 auto;
  padding: 0 30px;

  @include on-mobile {
    padding: 0 15px;
  }
}

.page {
  min-height: 100vh;
}
