body {
  font-family: $main-font;
  background-color: #f7f7f7;
}

.container {
  flex-grow: 1;
  width: 100%;
  max-width: none;
  margin: 0 auto;
  padding: 0 30px;

  @include on-mobile {
    padding: 0 15px;
  }
}

.page {
  min-height: calc(100vh - 80px);
  padding-top: 50px;
  padding-bottom: 50px;

  &--horizontal-center {
    margin-top: -80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--vertical-center {
    margin-top: -80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.home {
  background: url('https://cdn.dribbble.com/users/15139/screenshots/6655884/untitled_artwork_4_2.jpg')
    no-repeat center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .start_container {
    background-color: rgba($color: #000000, $alpha: 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
    width: 50%;
    border-radius: 5px;
  }
  h1 {
    text-transform: uppercase;
    font-size: 3.5em;
  }

  p {
    width: 70%;
    text-align: center;
  }
  @media (max-width: 600px) {
    .start_container {
      background-color: rgba($color: #000000, $alpha: 0.6);
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 3em;
      width: 100%;
      border-radius: 5px;

      p {
        width: 100%;
        text-align: center;
      }
    }
  }
}
