.card {
  width: 100%;
  padding: 25px;
  margin: 15px 0;
  border-radius: 25px;
  background: $white;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  &--action {
    h4 {
      margin-bottom: 20px;
    }

    button {
      width: calc(50% - 10px);
    }

    button + button {
      margin-left: 20px;
    }
  }

  &__number {
    display: block;
    font-size: size(40);
    text-align: center;
  }
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;

  li {
    margin-left: 20px;
    margin-right: 20px;
    width: calc(25% - 40px);

    @include on-tablet {
      width: calc(33% - 40px);
    }

    @include on-mobile {
      width: calc(100% - 40px);
    }
  }
}
