.card {
  width: 100%;
  padding: 25px;
  border-radius: 25px;
  background: $white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  &--action {
    p {
      margin-bottom: 20px;
    }

    button {
      width: calc(50% - 10px);
    }

    button + button {
      margin-left: 20px;
    }
  }
}

.card-list {
  display: flex;
  flex-wrap: wrap;

  li {
    width: calc(25% - 40px);

    @include on-tablet {
      width: calc(33% - 40px);
    }

    @include on-mobile {
      width: calc(100% - 40px);
    }
  }
}
